@model Users
@{
    ViewBag.Title = "Yetkili Giriş Paneli";
}
<div class="container" id="wrap">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-login">

                <form action="@Url.Action("Index", "Login")" method="post" style="padding:5%;">
                    <h4 class="text-center">Üye Girişi</h4>
                    <p>@Html.LabelFor(x => x.Mail)</p>
                    <p>@Html.TextBoxFor(x => x.Mail, new { @class = "form-control input-sm", @placeholder = "Mail", @required = "required", @name = "username", @id = "username" })</p>
                    <p>@Html.ValidationMessageFor(x => x.Mail)</p>
                    <br />
                    <p>@Html.LabelFor(x => x.Password)</p>
                    <p>@Html.TextBoxFor(x => x.Password, new { @class = "form-control input-sm", @placeholder = "Şifre", @required = "required", @type = "password", @name = "password", @id = "password" })</p>
                    <p>@Html.ValidationMessageFor(x => x.Password)</p>
                    <br />
                    <p><input name="Hatirla" type="checkbox" /> Beni Hatirla </p>
                    @{
                        if (ViewBag.Mesaj != null)
                        {
                            <p style="color:red; text-align:center;">@ViewBag.Mesaj</p>
                        }
                    }
                    <br />
                    <div class="wrapper">
                        <span class="group-btn">
                            <input id="btnGiris" type="submit" value="Giriş" class="form-control" style="background-color:darkslategrey; color:white;" />
                        </span>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


