@model  KTOtomasyon.Models.DisplayOrderDetail

@{
    /**/

    ViewBag.Title = "Siparişler";
}
<br />
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <div class="col-lg-6">
                    <h4 class="title" style="color:#ff3e00;"><span class="fa fa-tasks"></span> &nbsp; Siparişler</h4>
                    <p class="category">Sipariş Listesi</p>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <form action="@Url.Action("Orders","Home")" method="post">

                            <div class="col-lg-4"><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal"><span class="fa fa-plus"></span>Yeni Sipariş</button></div>
                            <div class="col-lg-6"><input name="filter" type="search" class="form-control text-warning" placeholder="Müşteri adı/Fatura No"/></div>
                            <div class="col-lg-2"><button type="submit" value="Ara" class="btn btn-warning"><span class="fa fa-search"></span>Ara</button></div>


                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-condensed">
                            <tr>
                                <td></td>
                                <td class="text-uppercase"><b>No</b></td>
                                <td class="text-uppercase"><b>Müşteri</b></td>
                                <td class="text-uppercase"><b>Oluşturma Tarihi</b></td>
                                <td class="text-uppercase"><b>Açıklama</b></td>
                                <td class="text-uppercase"><b>Toplam Tutar</b></td>
                                <td class="text-uppercase"><b>Teslim Durumu</b></td>

                            </tr>
                            @foreach (var order in Model.Orders)
                            {
                            <tr>
                                <td><a href="@Url.Action("OrderDetail",new { id = order.Order_Id })"><span class="fa fa-pencil"></span></a></td>
                                <td>@order.Order_Id</td>
                                <td>@order.CustomerName</td>
                                <td>@order.CreatedDate.Value.ToShortDateString()</td>
                                <td>@order.Description</td>
                                <td>@Model.TotalPrice ₺</td>
                                <td>

                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" checked="@order.IsDelivered.Value" disabled>
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </td>

                            </tr>
                            }
                        </table>
                        <ul class="pagination pagination-sm">
                            <li>
                                @{
                                    for (int i = 1; i <= Model.TotalPage; i++)
                                    {
                                        if (i == Model.CurrentPage)
                                        {
                                            @Html.ActionLink(i.ToString(), "Orders", new { p = i }, new { @class = "text-danger" });

                                        }
                                        else
                                        {
                                            @Html.ActionLink(i.ToString(), "Orders", new { p = i });
                                        }
                                    }
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





















