@model  KTOtomasyon.Models.DisplayOrderDetail

@{

    ViewBag.Title = "Siparişler";
}

<br />
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <div class="col-lg-4">
                    <h4 class="title" style="color:#ff3e00;"><span class="fa fa-list-ul"></span> &nbsp; Sipariş Listesi</h4>
                    <p class="category">Tüm Kayıtlar</p>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <form action="@Url.Action("Index","Home")" method="post">
                            <div class="col-lg-2 pull-left"><a href="@Url.Action("Index","Home")" type="button" class="btn btn-warning"><span class="fa fa-refresh"></span>Yenile</a></div>
                            <div class="col-lg-3"><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal"><span class="fa fa-plus"></span>Yeni Sipariş</button></div>
                            <div class="col-lg-5"><input id="filter" name="filter" type="search" class="form-control text-warning" placeholder="Müşteri adı/Fatura No/Telefon No" /></div>
                            <div class="col-lg-2"><button id="btnFilter" type="submit" value="Ara" class="btn btn-warning"><span class="fa fa-search"></span>Ara</button></div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover the-table" id="anasiparistablo">
                            <tr>
                                <td></td>
                                <td class="text-uppercase"><b>Fiş No</b></td>
                                <td class="text-uppercase"><b>Müşteri</b></td>
                                <td class="text-uppercase"><b>Telefon No</b></td>
                                <td class="text-uppercase"><b>Açıklama</b></td>
                                <td class="text-uppercase"><b>Toplam Tutar</b></td>
                                <td class="text-uppercase"><b>Teslim Tarihi</b></td>
                                @{
                                    if (string.IsNullOrEmpty(ViewBag.oname) || (ViewBag.oname == "durum" && ViewBag.otype == "desc"))
                                    {
                                        <td class="text-uppercase">@Html.ActionLink("Teslim", "Index", new { oname = "durum", otype = "asc" }, new { @class = " glyphicon glyphicon-plus", @style = "font-weight:600 !important;" }) </td>
                                    }
                                    else if (ViewBag.oname == "durum" && ViewBag.otype == "asc")
                                    {
                                        <td class="text-uppercase">@Html.ActionLink("Teslim", "Index", new { oname = "durum", otype = "desc" }, new { @class = " glyphicon glyphicon-minus", @style = "font-weight:600 !important;" }) </td>
                                    }
                                    else
                                    {
                                        <td class="text-uppercase">@Html.ActionLink("Teslim", "Index", new { oname = "durum", otype = "asc" }, new { @class = " glyphicon glyphicon-plus", @style = "font-weight:600 !important;" }) </td>
                                    }

                                }
                            </tr>


                            @foreach (var order in Model.OrdersList)
                            {
                                <tr>
                                    <td>
                                        <button data-toggle="modal" data-target="#myModal" onclick="GetOrder(@order.Order_Id)" class="btn-xs btn btn-warning"><span class="fa fa-pencil"></span></button>
                                        <a href="@Url.Action("Receipt","Home", new { @order.Order_Id })" class="btn-xs btn btn-primary" target="_blank" id="BtnYazdir" style="margin-left:10px;"><span class="fa fa-print"></span></a>
                                    </td>
                                    <td>@order.Order_Id</td>
                                    <td>@order.CustomerName</td>
                                    <td>@order.PhoneNumber</td>
                                    <td>@order.Description</td>
                                    <td>@String.Format("{0:N0}", @order.TotalPrice) ₺</td>
                                    <td>@order.OrderDate.Value.ToShortDateString()</td>
                                    <td>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" checked="@order.IsDelivered.Value" disabled>
                                            <span class="custom-control-indicator"></span>
                                        </label>
                                    </td>
                                </tr>
                            }
                        </table>

                        <!--simplePagination Plugin-->
                        <div class="pagination-page"></div>

                        <!--Benim sayfalama yapım yetersiz kaldı.-->
                        @*<ul class="pagination pagination-sm">

                                <li>
                                    @{ if (Model.CurrentPage == 1)
                                        {

                                            @Html.ActionLink("Geri", "Index", new { p = Model.CurrentPage }, new { @class = "text-primary" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Geri", "Index", new { p = Model.CurrentPage - 1 }, new { @class = "text-primary" })
                                        }
                                    }

                                    @{
                                        for (int i = 1; i <= Model.TotalPage; i++)
                                        {
                                            if (i == Model.CurrentPage)
                                            {
                                                @Html.ActionLink(i.ToString(), "Index", new { p = i }, new { @class = "text-danger" });

                                            }
                                            else
                                            {
                                                @Html.ActionLink(i.ToString(), "Index", new { p = i });
                                            }
                                        }
                                    }

                                    @{ if (Model.CurrentPage == Model.TotalPage)
                                        {

                                            @Html.ActionLink("İleri", "Index", new { p = Model.CurrentPage }, new { @class = "text-primary" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("İleri", "Index", new { p = Model.CurrentPage + 1 }, new { @class = "text-primary" })
                                        }
                                    }


                                </li>
                            </ul>*@
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





















