@model  KTOtomasyon.Models.DisplayOrderDetail

@{

    ViewBag.Title = "Siparişler";
}
<br />
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <div class="col-lg-6">
                    <h4 class="title" style="color:#ff3e00;"><span class="fa fa-list-ul"></span> &nbsp; Sipariş Listesi</h4>
                    <p class="category">Tüm Kayıtlar</p>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <form action="@Url.Action("Index","Home")" method="post">
                            <div class="col-lg-4"><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal"><span class="fa fa-plus"></span>Yeni Sipariş</button></div>
                            <div class="col-lg-6"><input name="filter" type="search" class="form-control text-warning" placeholder="Müşteri adı/Fatura No"/></div>
                            <div class="col-lg-2"><button type="submit" value="Ara" class="btn btn-warning"><span class="fa fa-search"></span>Ara</button></div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-responsive the-table">
                            <tr>
                                <td></td>
                                <td class="text-uppercase"><b>Fiş No</b></td>
                                <td class="text-uppercase"><b>Müşteri</b></td>
                                <td class="text-uppercase"><b>Açıklama</b></td>
                                <td class="text-uppercase"><b>Toplam Tutar</b></td>
                                <td class="text-uppercase"><b>Teslim Tarihi</b></td>
                                <td class="text-uppercase"><b>Teslim Durumu</b></td>
                                
                            </tr>
                            @foreach (var order in Model.OrdersList)
                            {
                            <tr>
                                <td>
                                        <button data-toggle="modal" data-target="#myModal" onclick="GetOrder(@order.Order_Id)" class="btn-xs btn btn-warning"><span class="fa fa-pencil"></span></button>
                                    <a href="@Url.Action("Receipt","Home", new { @order.Order_Id })" class="btn-xs btn btn-primary" target="_blank" id="BtnYazdir" style="margin-left:10px;" ><span class="fa fa-print" ></span></a>
                                </td>
                                <td>@order.Order_Id</td>
                                <td>@order.CustomerName</td>
                                <td>@order.Description</td>
                                <td>@String.Format("{0:N0}", @order.TotalPrice) ₺</td>
                                <td>@order.OrderDate</td>
                                <td>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" checked="@order.IsDelivered.Value" disabled>
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </td>                              
                            </tr>
                            }
                        </table>
                        <ul class="pagination pagination-sm">
                            <li>
                                @{
                                    for (int i = 1; i <= Model.TotalPage; i++)
                                    {
                                        if (i == Model.CurrentPage)
                                        {
                                            @Html.ActionLink(i.ToString(), "Index", new { p = i }, new { @class = "text-danger" });

                                        }
                                        else
                                        {
                                            @Html.ActionLink(i.ToString(), "Index", new { p = i });
                                        }
                                    }
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





















