@model  KTOtomasyon.Models.DisplayOperations
@{
    ViewBag.Title = "Tadilatlar";
}
<br />
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <div class="col-lg-4">
                    <h4 class="title" style="color:blue;"><span class="fa fa-users"></span> &nbsp; İşlemler</h4>
                    <p class="category">İşlemler Listesi</p>
                </div>
                <div class="col-lg-8">
                    <div class="category">
                        <div class="col-lg-3"><a href="@Url.Action("NewOperation","Home")" class="btn btn-primary"><span class="fa fa-plus"></span> Yeni Tadilat</a></div>
                        <form action="@Url.Action("Operations","Home")" method="post">
                            <div class="col-lg-7">
                                <select class="my-select" name="filter" title="Ürün Listesi">
                                    <option data-img-src="../img/producticons/0'.png" value="0">Ürün Seç..</option>
                                    <optgroup label="Kadın">
                                        <option data-img-src="../img/k/1.jpg" value="1">Kap</option>
                                        <option data-img-src="../img/k/2.jpg" value="2">Elbise</option>
                                        <option data-img-src="../img/k/3.jpg" value="3">Abiye</option>
                                        <option data-img-src="../img/k/4.png" value="4">Etek</option>
                                        <option data-img-src="../img/k/5.jpg" value="5">Pardösü</option>
                                        <option data-img-src="../img/k/6.jpg" value="6">Ferace</option>
                                        <option data-img-src="../img/k/7.png" value="7">Tunik</option>
                                        <option data-img-src="../img/k/8.jpg" value="8">Gömlek</option>
                                        <option data-img-src="../img/k/9.jpg" value="9">Ceket</option>
                                        <option data-img-src="../img/k/10.jpg" value="10">Bluz</option>
                                        <option data-img-src="../img/k/11.jpg" value="11">Kaban</option>
                                        <option data-img-src="../img/k/12.jpg" value="12">T-Shirt</option>
                                        <option data-img-src="../img/k/13.png" value="13">Kaztüyü Mont</option>
                                        <option data-img-src="../img/k/26.jpg" value="14">Kaztüyü Yelek</option>
                                        <option data-img-src="../img/k/24.jpg" value="15">Klasik Yelek</option>
                                        <option data-img-src="../img/k/23.png" value="16">Şişme Yelek</option>
                                        <option data-img-src="../img/k/22.jpg" value="17">Şişme Mont</option>
                                        <option data-img-src="../img/k/14.jpg" value="18">Pantolon</option>
                                        <option data-img-src="../img/k/15.jpg" value="19">Alt Eşofman</option>
                                        <option data-img-src="../img/k/16.jpg" value="20">Üst Eşofman</option>
                                        <option data-img-src="../img/k/18.jpg" value="21">Hırka</option>
                                        <option data-img-src="../img/k/19.jpg" value="22">Kazak</option>
                                        <option data-img-src="../img/k/20.jpg" value="23">Kapri</option>
                                        <option data-img-src="../img/k/21.png" value="24">Manto</option>
                                        <option data-img-src="../img/k/25.jpg" value="25">Şort</option>
                                    </optgroup>
                                    <optgroup label="Erkek">
                                        <option data-img-src="../img/e/1.jpg" value="26">Alt Eşofman</option>
                                        <option data-img-src="../img/e/2.jpg" value="27">Ceket</option>
                                        <option data-img-src="../img/e/3.jpg" value="28">Gömlek</option>
                                        <option data-img-src="../img/e/4.jpg" value="29">Hırka</option>
                                        <option data-img-src="../img/e/5.jpeg" value="30">Kaban</option>
                                        <option data-img-src="../img/e/6.jpg" value="31">Kapri</option>
                                        <option data-img-src="../img/e/7.jpg" value="32">Kazak</option>
                                        <option data-img-src="../img/e/8.jpg" value="33">Kaztüyü Mont</option>
                                        <option data-img-src="../img/e/9.jpg" value="34">Kaztüyü Yelek</option>
                                        <option data-img-src="../img/e/10.png" value="35">Klasik Yelek</option>
                                        <option data-img-src="../img/e/11.jpg" value="36">Palto</option>
                                        <option data-img-src="../img/e/12.jpg" value="37">Pantolon</option>
                                        <option data-img-src="../img/e/13.jpg" value="38">Şişme Mont</option>
                                        <option data-img-src="../img/e/14.jpg" value="39">Şişme Yelek</option>
                                        <option data-img-src="../img/e/15.jpg" value="40">Şort</option>
                                        <option data-img-src="../img/e/16.jpg" value="41">Tişort</option>
                                        <option data-img-src="../img/e/17.jpg" value="42">Üst Eşofman</option>
                                    </optgroup>
                                    <optgroup label="Diğer">
                                        <option data-img-src="../img/producticons/0'.png" value="43">Diğer</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-lg-2"><input type="submit" role="img" value="Ara" class="btn btn-primary" /></div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-condensed">
                            <tr>
                                <td class="text-uppercase"><b>Ürün Adı</b></td>
                                <td class="text-uppercase"><b>İşlem Adı</b></td>
                                <td class="text-uppercase"><b>B.Tutar</b></td>
                                <td></td>
                            </tr>
                            @foreach (var operation in Model.OperationList.OrderByDescending(x => x.Operation_Id).Where(x => x.IsActive == true))
                            {
                                <tr>
                                    <td>@Model.ProductName</td>
                                    <td>@operation.Name</td>
                                    <td>@operation.Price ₺</td>
                                    <td>@Html.ActionLink("Düzenle", "OperationEdit", "Home", new { id = operation.Operation_Id }, new { @class = "btn btn-primary" }) </td>
                                </tr>
                            }
                        </table>
                        <!--simplePagination Plugin-->
                        @*<div class="pagination-page"></div>*@
                        <ul class="pagination pagination-sm">
                                <li>
                                    @{
                                        for (int i = 1; i <= Model.TotalPage; i++)
                                        {
                                            if (i == Model.CurrentPage)
                                            {
                                                @Html.ActionLink(i.ToString(), "Operations", new { p = i }, new { @class = "text-danger" });

                                            }
                                            else
                                            {
                                                @Html.ActionLink(i.ToString(), "Operations", new { p = i });
                                            }
                                        }
                                    }
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
