@model  KTOtomasyon.Models.AllList

@{
    ViewBag.Title = "Siparişler";
}
<br />
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <div class="col-lg-6">
                    <h4 class="title" style="color:blue;"><span class="fa fa-tasks"></span> &nbsp; Siparişler</h4>
                    <p class="category">Sipariş Listesi</p>
                </div>
                <div class="col-lg-6">
                    <div class="category">
                        <form action="@Url.Action("Orders","Home")" method="post">
                            <div class="col-lg-10">
                                <input name="filter" type="search" class="form-control text-primary" placeholder="Sipariş Ara" />
                            </div>
                            <div class="col-lg-2"><input type="submit" value="Ara" class="btn btn-primary" /></div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-condensed">
                            <tr>
                                <td class="text-uppercase"><b>Sipariş No</b></td>
                                <td class="text-uppercase"><b>Personel No</b></td>
                                <td class="text-uppercase"><b>Müşteri No</b></td>
                                
                                <td class="text-uppercase"><b>Tarih</b></td>
                                <td class="text-uppercase"><b>Saat</b></td>
                                <td></td>
                            </tr>
                            @foreach (var order in Model.Orders.OrderByDescending(z => z.CreatedDate))
                            {
                            <tr>
                                <td>@order.Id</td>
                                <td>@order.UId</td>
                                <td>@order.CId</td>
                                
                                <td>@order.Date.Value.ToShortDateString()</td>
                                <td>@order.Time.Value.Hours.ToString()</td>
                                <td>@Html.ActionLink(" İncele", "OrderDetail", "Home", new { id = order.Id }, new { @class = "btn btn-success" }) </td>
                            </tr>
                            }
                        </table>
                        <ul class="pagination pagination-sm">
                            <li>
                                @{
                                    for (int i = 1; i <= Model.TotalPage; i++)
                                    {
                                        if (i == Model.CurrentPage)
                                        {
                                            @Html.ActionLink(i.ToString(), "Orders", new { p = i }, new { @class = "text-danger" });

                                        }
                                        else
                                        {
                                            @Html.ActionLink(i.ToString(), "Orders", new { p = i });
                                        }
                                    }
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>