@model Orders
@{
    ViewBag.Title = "Sipariş Düzenle";
}
<div class="container">
    <h2>Sipariş Güncelle</h2>
    <div class="row">
        <div class="col-md-12">
            <form action="@Url.Action("OrderUpdate","Home")" method="post">
                <div class="row">
                    <input name="Id" type="hidden" class="form-control" value="@Model.Id" />
                    <p>Başlık  @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })</p>
                    <p>Tarih  @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })</p>
                    <p>Saat  @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })</p>
                    <p>Silinmiş Mi?  @Html.TextBoxFor(m => m.IsDeleted, new { @class = "form-control" })</p>


                    <p><input class="btn btn-success" type="submit" value="Güncelle" /></p>
                </div>
            </form>
        </div>
    </div>
</div>


