@model KTOtomasyon.Models.DisplayReceipt
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Makbuz</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Zubeyir Kocalioglu" />

    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <!-- Bootstrap core CSS     -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/Content/chosen.css" rel="stylesheet" />
    <link href="~/Content/ImageSelect.css" rel="stylesheet" />
    <link href="~/assets/css/demo.css" rel="stylesheet" />
    <link href="~/Content/Flat.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="~/Content/CSS/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <img src="~/img/logooldu.png" alt="allytees-500-trans.png" width="120" height="60">
                </div>
            </div>
        </div>
        <div class="row" style="font-size:11px;">
            <div class="col-lg-12 text-uppercase text-left">
                <table>
                    <tr>
                        <td>Fiş No</td>
                        <td>&nbsp; :<samp> @Model.Order_Id</samp></td>
                    </tr>
                    <tr>
                        <td>Tarih</td>
                        <td>
                            &nbsp; :<samp> @Model.CreatedDate.Value.ToShortDateString()</samp>&nbsp;-&nbsp;
                            <samp>@Model.CreatedDate.Value.ToShortTimeString()</samp>
                        </td>
                    </tr>
                    <tr>
                        <td>Personel</td>
                        <td>&nbsp; :<samp> @Model.CreatedUserText</samp></td>
                    </tr>
                </table>


                <br />
                <br />
                <samp class="text-uppercase">Topçular Mah. Osman Gazi Cad. No:21 - 2 Eyüp / İstanbul</samp>
                <samp><b>AXİS İSTANBUL AVM</b></samp>
                <br />
                <samp><b>0 212 801 32 11</b></samp>
                <br />
                <em class="text-muted" style="font-size:8px !important;">www.sampleterzi.com</em>
            </div>
        </div>
        <br />
        <div class="row text-left">
            <div>
                <p class="text-uppercase text-center" style="font-size:11px;">Müşteri Bilgileri</p>
            </div>
            <div style="font-size:11px;">
                <samp>Müşteri Adı: </samp><strong>@Model.CustomerName</strong>
                <br />
                <samp>Telefon: </samp><abbr>0</abbr>@Model.PhoneNumber
                <br />
                <samp>Teslim Tarihi: </samp>@Model.OrderDate.Value.ToShortDateString()
                <br />
                <samp>Toplam Borç Bakiyeniz:</samp>@Model.Description ₺
                <br />
                @{ if (@Model.IsPaid == true)
                    {
                        ViewBag.Durum = "Ödendi";
                    }
                    else
                    {
                        ViewBag.Durum = "Ödenmedi";
                    }
                }
                <em style="margin-left:70%;"><b> @ViewBag.Durum </b></em>
            </div>

        </div>
        <br />
        <div class="row">
            <table border="1" class="table table-bordered" style="border:5px !important;">
                <thead style="font-size:11px !important; font-weight:600 !important;">
                    <tr>
                        <th>Ürün</th>
                        <th>İşlem</th>
                        <th>Adet</th>
                        <th>B.Tutar</th>
                        <th>T.Tutar</th>
                    </tr>
                </thead>
                <tbody style="font-size:9px;">
                    @foreach (var item in Model.DetailList.ToList())
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.OperationText</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price ₺</td>
                            <td>@item.TotalPrice ₺</td>
                        </tr>
                    }
                    <tr>
                        <td><strong> T. Parça: </strong>  </td>
                        <td></td>
                        <td><strong>@Model.TQuantity</strong></td>
                        <td><b>T. Fiyat:</b> </td>
                        <td><strong>@Model.TTotalPrice ₺</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12" style="font-size:10px !important;">
                <em style="font-size:10px !important;"><i>SAMPLE Terzi'yi Tercih Ettiğiniz İçin Teşekkür Ederiz.</i></em>
                <em style="font-size:10px !important;" class="text-uppercase">Ürün verenler aşağıdaki şartları kabul etmiştir.</em>
                <em style="font-size:10px !important;">30 gün içerisinde alınmayan ürünlerden ve üretimden kaynaklı ürün bozulmalarından firmamız sorumlu değildir.</em>
            </div>
        </div>
    </div>
    <input type="button" name="name" value="Yazdır" onclick="window.print()" />
   
    <script language="VBSCript">
        // THIS VB SCRIP REMOVES THE PRINT DIALOG BOX AND PRINTS TO YOUR DEFAULT PRINTER
        Sub window_onunload()
        On Error Resume Next
        Set WB = nothing
        On Error Goto 0
        End Sub

        Sub Print()
        OLECMDID_PRINT = 6
        OLECMDEXECOPT_DONTPROMPTUSER = 2
        OLECMDEXECOPT_PROMPTUSER = 1


        On Error Resume Next

        If DA Then
        call WB.ExecWB(OLECMDID_PRINT, OLECMDEXECOPT_DONTPROMPTUSER, 1)

        Else
        call WB.IOleCommandTarget.Exec(OLECMDID_PRINT, OLECMDEXECOPT_DONTPROMPTUSER, "", "", "")

        End If

        If Err.Number <> 0 Then
        If DA Then
        Alert("Nothing Printed :" & err.number & " : " & err.description)
        Else
        HandleError()
        End if
End If
        On Error Goto 0
        End Sub

        If DA Then
        wbvers = "8856F961-340A-11D0-A96B-00C04FD705A2"
        Else
        wbvers = "EAB22AC3-30C1-11CF-A7EB-0000C05BAE0B"
        End If

        document.write "<object ID=""WB"" WIDTH=0 HEIGHT=0 CLASSID=""CLSID:"
        document.write wbvers & """> </object>"

    </script>
    <!--   Core JS Files   -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/ImageSelect.jquery.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="~/assets/js/bootstrap-checkbox-radio-switch.js"></script>
    <!--  Charts Plugin -->
    <script src="~/assets/js/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/assets/js/bootstrap-notify.js"></script>
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="~/assets/js/light-bootstrap-dashboard.js"></script>
    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="~/assets/js/demo.js"></script>
    <!-- Benim javascript dosyam -->
    <script src="~/Scripts/myscripts/app.js"></script>
    <script src="~/Scripts/myscripts/myorder.js"></script>
</body>
</html>
