@model KTOtomasyon.Models.DisplayReceipt
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Makbuz</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Zubeyir Kocalioglu" />

    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <!-- Bootstrap core CSS     -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/Content/chosen.css" rel="stylesheet" />
    <link href="~/Content/ImageSelect.css" rel="stylesheet" />
    <link href="~/assets/css/demo.css" rel="stylesheet" />
    <link href="~/Content/Flat.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="~/Content/CSS/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                <div class="text-center">
                    <img src="~/img/logooldu.png" alt="allytees-500-trans.png" width="120" height="120">
                    <h6 style="font-family:fantasy; font-weight:200;">FATURA BİLGİLERİ</h6>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 text-left">
                        <shadow class="text-uppercase">
                            <em>Fiş NO: @Model.Order_Id</em>
                            <br />
                            <em>@Model.CreatedDate.Value.ToShortDateString()</em>&nbsp;-&nbsp;
                            <em>@Model.CreatedDate.Value.ToShortTimeString()</em>

                            <br />
                            <em>YEtKİLİ:  @Model.CreatedUserText</em>
                        </shadow>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <address class="text-uppercase">
                            <strong class="text-right">AXİS Şubesİ</strong>
                            <br>
                            <em>TOPÇULAR MH OSMANGAZİ CD B2 NO 125</em>
                            <em>EYÜP - İSTANBUL</em>
                            <br>
                            <abbr title="Telefon">Tel:</abbr> +90 (532) 484-6829
                        </address>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-hover">
                        <thead style="font-size:13px !important; font-weight:400 !important;">
                            <tr>
                                <th>Ürün</th>
                                <th>İşlem</th>
                                <th>Adet</th>
                                <th>B.Tutar</th>
                                <th>T.Tutar</th>
                            </tr>
                        </thead>
                        <tbody style="font-size:12px;">
                            @foreach (var item in Model.DetailList.ToList())
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.OperationText</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Price</td>
                                    <td>@item.TotalPrice</td>
                                </tr>
                            }
                            <tr>
                                <td>   </td>
                                <td><strong>Toplam Parça: </strong></td>
                                <td><strong>@Model.TQuantity</strong></td>
                                <td><b>Toplam Fiyat:</b> </td>
                                <td>
                                    <strong>@Model.TTotalPrice</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="background-color:white;">
                        <p>Müşteri Bilgileri</p>
                    </div>
                    <div>
                        <b>Ad Soyad:</b> @Model.CustomerName
                        <br />
                        <b>Telefon:</b>@Model.PhoneNumber
                        <br />
                        <b>Teslim Tarihi:</b> @Model.OrderDate.Value.ToShortDateString()
                    </div>
                    <div>
                        <b>Açıklama:</b>
                        @Model.Description<br />

                    </div>
                    <div>
                        <h2 style="text-align:center; font-family:fantasy;">
                            TEŞEKKÜRLER
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/ImageSelect.jquery.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="~/assets/js/bootstrap-checkbox-radio-switch.js"></script>
    <!--  Charts Plugin -->
    <script src="~/assets/js/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/assets/js/bootstrap-notify.js"></script>
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="~/assets/js/light-bootstrap-dashboard.js"></script>
    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="~/assets/js/demo.js"></script>
    <!-- Benim javascript dosyam -->
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/myorder.js"></script>
</body>

</html>
