@model KTOtomasyon.Mails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MailSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailBCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailBCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBodyHtml)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBodyHtml)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Mail_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
